.roster__container {
  position: fixed;
  top: 46px;
  right: 2em;
  width: 650px;
  display: none;
}

.remove {
  color: #ff0000;
  outline: none;
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: auto;
  margin-top: -6px;
  float: right !important;
}

.remove:hover {
  color: #ff0000;
  float: right !important;
}

.comment {
  outline: none;
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: auto;
  margin-top: -31px;
  float: right !important;
}

.comment:hover {
  float: right !important;
}

.list-group-item {
  height: 45px;
  font-size: 18px;
}
